.Register {
    background-image: url(./images/b1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.register_page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register_box {
    border: solid 6px lightgray;
    border-radius: 5px;
    padding: 2%;
    background-color: white;
}

.heading {
    font-family: 'Righteous', cursive;
    font-size: 25px;
    text-align: center;
}

#fullname,
#mail,
#password,
#dob,
#insta,
#twitter {
    width: 250px;
    margin-top: 2%;
    border: solid 2px lightgray;
    border-radius: 3px;
    color: gray;
}

.submit {
    text-align: center;
}

#submit {
    margin-top: 2%;
}

.already {
    margin-top: 7%;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 13px;
}

.already:hover {
    color: blue;
}


/* /////////////////////
///////////LOGIN//////// */

.Login {
    background-image: url(./images/b1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.login_submit {
    margin-top: 2%;
    text-align: center;
}


/* /////////////////////
///////////FEEDS//////// */

.Feed {
    background-color: #1D1D1D;
}

#logout {
    min-width: 0px !important;
    width: 68px!important;
}

#logoutbtn {
    border: none;
    background-color: white;
}

.blogzone {
    font-family: 'Luxurious Script', cursive;
    font-weight: bolder;
    font-size: 40px;
}

.feedpage {
    background-image: url(./images/b2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.blogstyle {
    color: white;
    font-family: 'Luxurious Script', cursive;
    font-size: 60px;
    margin: 1%;
    margin-top: 0;
    /* height: 60vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar {
    background-color: black!important;
    color: white!important;
    /* border-bottom: solid #294074; */
}

.feedimg {
    height: 434px;
    width: 100%;
    object-fit: cover;
}

.feedpost {
    display: flex;
    flex-wrap: wrap;
    column-gap: 59px;
    row-gap: 20px;
    width: 100%;
}

.feedpart {
    border-radius: 4px;
    width: 327px;
    color: white !important;
}

#title {
    font-family: 'Baloo Bhaijaan 2', cursive;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
}

.time {
    font-size: 15px;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}

.author {
    text-align: center;
}

.author_key {
    font-size: 12px;
    font-weight: bolder;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}

.author_keyans {
    font-family: 'Fredoka One', cursive;
    font-weight: bolder;
    color: white;
}


/* /////////////////////
///////////Profile//////// */

.profilebox {
    color: white!important;
}

.Profilepage {
    background-color: #1D1D1D;
    margin-top: -1%;
}

.proimg {
    height: 301px;
    width: 350px;
    object-fit: cover;
}

#four {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-right: solid 3px white;
    /* padding-left: 13%; */
}

#eight {
    /* border: solid 2px green; */
    margin: 0%;
    padding: 0;
    padding-left: 5px;
}

#feedrow {
    margin: 1%;
    padding-top: 2%;
}

.Page {
    background-color: #1D1D1D;
    padding-bottom: 10%;
}

.detail {
    /* font-family: 'Playfair Display', serif; */
    font-family: 'EB Garamond', serif;
    font-size: 20px;
    /* font-weight: 900; */
}

@media (min-width: 576px) {
    #feedpage {
        max-width: 100%;
    }
}

#feedpage {
    /* border: solid 1px rgb(221, 43, 43); */
}

#feed,
#profile {
    font-family: 'EB Garamond', serif;
    font-size: 15px;
    color: white;
}

.pro_key {
    font-size: 12px;
    font-weight: bolder;
    color: gray;
}

.pro_keyans {
    font-family: 'Cinzel', serif;
    font-weight: bolder;
    color: white;
    font-size: 20px;
}

.prodob {
    font-family: 'Orbitron', sans-serif;
}

#proinsta,
#protwitter {
    margin-top: 1%;
    font-size: 40px;
}

.write {
    font-family: 'Cinzel', serif;
    font-size: 30px;
    margin: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* /////////////////////
///////////Page//////// */

#eleven {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.eightrow {
    display: flex;
}

.pagecontent {
    border: solid 1px white;
    color: white;
    margin: 1%;
    font-family: 'EB Garamond', serif;
    font-size: 20px;
}

.pageimg {
    height: 332px;
    width: 518px;
    object-fit: contain;
}

#twelve {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagepart {
    border: solid 2px lightgray;
    border-radius: 4px;
    width: 200px;
}

.pagepost {
    margin: 1%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 1%;
    row-gap: 1px;
}

.similar {
    margin-top: 1%;
    margin-right: 1%;
    margin-left: 1%;
    text-decoration: underline;
    font-family: 'EB Garamond', serif;
}

#comment {
    margin: 1%;
    width: 600px;
    padding-bottom: 100px
}


/* ///////////////////
    //////CREATE////// */

.createpage {
    margin: 1%;
}

#createtitle,
#createphoto,
#createcontent {
    margin-top: 1%;
}

#createcontent {
    width: 85%;
    padding-bottom: 25%;
}

.setfilea {
    margin-top: 5%;
    margin-bottom: 2%;
}

#settitle {
    color: black !important;
    font-family: 'Josefin Sans', sans-serif;
}

#createset {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1D1D1D;
    height: 100vh;
}


/* /////////////////////
///////////Setpic//////// */

.setpage {
    background-color: #1D1D1D;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.setbox {
    background-color: lightgray;
    border: solid 4px gray;
}

.sypp {
    text-align: center;
    font-family: 'Cinzel', serif;
    font-weight: 700;
    text-decoration: underline;
}

.setfile {
    margin-top: 5%;
    margin-bottom: 2%;
    margin-left: 16%;
}

#setfile {
    text-align: center;
}

.setsubmit {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 2%;
}

#setsubmit {
    border: none;
    border: solid 1px black;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}

#setfile {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}


/* /////////////////////
///////////Aboutme//////// */

#settext {
    width: 500px;
    padding-bottom: 280px;
    color: black !important;
    font-family: 'Josefin Sans', sans-serif;
}